.background-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

body {
  margin: 0;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  max-height: 65vh;

}

header {
  padding: 20px;
  color:#666;
}

.thecontent {
  display: flex;
}

.col-1,
  .col-3 {
    width: 900px;
    text-align: center;
}

.col-2 {
  flex-grow: 1;
}

.backward,
  .forward {
    background-color: #777;
    border: 1px solid #aaa;
    margin-top: 200px;
    color: white;
    position: absolute;
  }

.main-images {
  max-width: 1000px;
  max-height: 60vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  display: flex;
  background: #f9f9f9;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0 12px 12px;
  padding: 3px;
}



.thumbnail-pics {
  max-height: 50px;
  max-width: 50px;
}

.thumbnail-pics:hover {
  opacity: 0.4;
}
